body {
  padding-top: 50px;
}

.container-left {
  width: 600px;
  align:left;
  padding: 30px
}

.container-small{
  width: 300px;
  align: left;
}

.span-action{
  color: #428bca;
  cursor: pointer;
}

.span-action:hover{
  color: #2a6496;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.block-login {
  max-width: 450px;
  margin: auto;
}

/* Custom .form-control width */
.form-control-date {
  width: 204px;
}

/* Custom .help-block font */
.help-block-small {
  font-size: 12px;
}

/* Custom datepicker */
div.ui-datepicker{
 font-size:12px;
}

